body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.heder {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: 16px 0;
}

.header-span {
  color: #2e2f42;
}

.header-list {
  display: none;
}

.header-adres {
  font-style: normal;
  margin-left: auto;
  display: none;
}

.header-open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.main {
  max-width: 1440px;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.main-button {
  border: none;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 48px;
  display: block;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

.title-second {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantages-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 72px;
}

.advantages-list-item {
  width: 100%;
}

.advantages-icon {
  display: none;
}

.advantages-icon-item {
  width: 64px;
  height: 64px;
}

.title-third {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-title {
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
}

.advantages-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-team-box {
  padding: 0 28px;
}

.container-our-team {
  margin-bottom: 72px;
}

.our-team-list-main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 72px;
}

.our-team-list {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-team-list-item {
  padding: 32px 0;
}

.our-team-item {
  text-align: center;
  margin-bottom: 8px;
}

.our-team-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* margin-top: 8px; */
  /* margin-bottom: 32px; */
  text-align: center;
}

.icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-icon {
  fill: #f4f4fd;
}

.icon-list .icon-icon {
  height: 16px;
}

.icon-link:hover,
.icon-link:focus,
.icon-link:active {
  background-color: #404bbf;
}

.our-portfolio {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.container-our-portfolio {
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  align-items: center;
  /* gap: 48px 24px; */
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 48px;
}

.our-portfolio-list-items {
  /* flex-basis: calc((100% - 2 * 24px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.our-portfolio-list-items:hover .overlay-text {
  transform: translateY(0);
}

.our-portfolio-list-items:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-card {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.our-portfolio-title {
  margin-bottom: 8px;
}

.our-portfolio-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* margin-top: 8px; */
  /* margin-bottom: 32px; */
}

.foter {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.foter-text {
  color: #f4f4fd;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.foter-text-soc {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.foter-logo {
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.foter-span {
  color: #f4f4fd;
}

.foter-box {
  display: flex;
  align-items: baseline;
}

.foter-box-logo {
  width: 264px;
  margin-right: 120px;
}

.foter-text-soc {
  margin-bottom: 16px;
}

.foetr-icon-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  margin-right: 80px;
}

.foetr-icon-list .icon-link:hover,
.foetr-icon-list .icon-link:focus,
.foetr-icon-list .icon-link:active {
  background-color: #31d0aa;
}

.foetr-icon-list .icon-icon {
  height: 24px;
}

.foter-subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  padding-left: 16px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  outline: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.foter-icon-subscribe {
  margin-left: 16px;
  fill: #fff;
}

.subscribe-input::placeholder {
  font-size: 12;
  color: #fff;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: #fff;
}

.form-title {
  text-align: center;
  max-width: 360px;
  margin-bottom: 16px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.modal-close svg {
  fill: #2e2f42;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: #8e8f99;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  padding-left: 38px;
  font-size: 16px;
  color: #2e2f42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-field {
  margin-bottom: 8px;
}

.textarea-box {
  margin-bottom: 16px;
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  font-size: 12px;
  color: rgba(46, 47, 66, 0.4);
}

.modal-checkbox {
  margin-bottom: 24px;
}

.checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  /* order: 0; */
  /* position: absolute;
  top: 514px;
  left: 24px; */
}

.checkbox-link {
  text-decoration: underline;
  color: #4d5ae5;
  /* order: 3; */
}

.input-checkbox:checked + .checkbox-label .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-label {
  font-size: 12px;
  color: #8e8f99;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  /* margin-left: 24px; */
}

.form-btn {
  display: block;
  height: 56px;
  min-width: 169px;
  border: none;
  margin: 0 auto;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .advantages-list-item > h3 {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-open-menu-btn {
    display: none;
  }

  .header-logo {
    margin-right: 120px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-navigation-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }

  .header-navigation-link:hover,
  .header-navigation-link:focus,
  .header-navigation-link:active {
    color: #404bbf;
  }

  .active {
    position: relative;
    color: #404bbf;
  }

  .active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
    height: 4px;
    width: 100%;
  }

  .header-adres {
    display: block;
  }

  .header-adres-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-adres-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-adres-link:hover,
  .header-adres-link:focus {
    color: #404bbf;
  }

  .advantages-list {
    gap: 54px 16px;
  }

  .advantages-list-item {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }

  .our-team-list-main {
    gap: 64px 24px;
  }

  .our-portfolio-list {
    flex-direction: row;
    gap: 72px 24px;
    flex-wrap: wrap;
  }

  .our-portfolio-list-items {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
  }

  .header-logo {
    margin-right: 76px;
  }

  .header-adres-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-adres-link {
    font-size: 16px;
    line-height: 1.5;
  }

  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantages-list {
    gap: 24px;
    flex-wrap: nowrap;
    align-items: start;
  }

  .advantages-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .advantages-icon {
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    padding: 24px 100px;
    margin-bottom: 8px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .advantages-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .advantages-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-team-list-main {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .our-team-list {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-portfolio-list {
    gap: 48px 24px;
  }

  .our-portfolio-list-items {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}
